HF_TOKEN=YOUR_HF_TOKEN
HF_HOME="./models/huggingface" # Overrides directory to store Hugging Face models
PYTORCH_CUDA_ALLOC_CONF=expandable_segments:True # Allows PyTorch to manage GPU memory more flexibly